In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [13]:
# Read input dataset
train_udata=pd.read_csv("Updated_training.csv",low_memory=False)
train_udata.head()

,Policy_Company,Policy_Installment_Term,Policy_Billing_Code,Policy_Method_Of_Payment,Policy_Reinstatement_Fee_Indicator,Policy_Zip_Code_Garaging_Location,Vehicle_Territory,Vehicle_Make_Year,Vehicle_Make_Description,Vehicle_Performance,...,EEA_Full_Coverage_Indicator,EEA_Prior_Bodily_Injury_Limit,SYS_Renewed,SYS_New_Business,Annual_Premium,Claim_Count,Loss_Amount,Frequency,Severity,Loss_Ratio
0,Standard,6,Direct Billed to Insured,Pre-paid,N,43046,35,2004,LINCOLN,Standard,...,Y,100000,Y,N,320.12,0,0.0,0.0,0.0,0.0
1,Standard,6,Direct Billed to Insured,Pre-paid,N,42878,35,1980,CADILLAC,Standard,...,Y,50000,Y,N,259.70,0,0.0,0.0,0.0,0.0
2,Standard,6,Direct Billed to Insured,Pre-paid,N,43555,17,2005,PONTIAC,Standard,...,Y,100000,Y,N,613.74,0,0.0,0.0,0.0,0.0
3,Standard,6,Direct Billed to Insured,Pre-paid,N,43561,17,2005,MERCEDES,Standard,...,Y,35000,Y,N,541.66,0,0.0,0.0,0.0,0.0
4,Standard,6,Direct Billed to Insured,Pre-paid,N,43561,17,2005,MERCEDES,Standard,...,Y,35000,Y,N,541.66,0,0.0,0.0,0.0,0.0

In [14]:
# Drop vehicle annual miles
#print('Data count with 0 loss amount :: ',train_udata[['Loss_Amount']].query('Loss_Amount == 0').count())
zdata=train_udata.query('Loss_Amount == 0')
print('Data count with 0 loss amount :: ',zdata[['Loss_Amount']].count())
#print('Data count with non 0 loss amount :: ',train_udata[['Loss_Amount']].query('Loss_Amount != 0').count())
wzdata=train_udata.query('Loss_Amount != 0')
print('Data count with non 0 loss amount :: ',wzdata[['Loss_Amount']].count())

Data count with 0 loss amount ::  Loss_Amount    405440
dtype: int64
Data count with non 0 loss amount ::  Loss_Amount    18809
dtype: int64

In [15]:
ztrain, ztest = train_test_split(zdata, test_size=0.2)
wztrain, wztest = train_test_split(wzdata, test_size=0.2)
print('Data in Z training set :: ',ztrain[['Loss_Amount']].count())
print('Data in Z test set :: ',ztest[['Loss_Amount']].count())
print('Data in WZ training set :: ',wztrain[['Loss_Amount']].count())
print('Data in WZ test set :: ',wztest[['Loss_Amount']].count())

Data in Z training set ::  Loss_Amount    324352
dtype: int64
Data in Z test set ::  Loss_Amount    81088
dtype: int64
Data in WZ training set ::  Loss_Amount    15047
dtype: int64
Data in WZ test set ::  Loss_Amount    3762
dtype: int64

In [16]:
trainframes = [ztrain, wztrain]
testframes = [ztest, wztest]
train = pd.concat(trainframes)
test = pd.concat(testframes)

print('Total data for training model :: ',train[['Loss_Amount']].count())
print('Total data for testing model :: ',test[['Loss_Amount']].count())

train.to_csv('Balance_training.csv',index = False)

Total data for training model ::  Loss_Amount    339399
dtype: int64
Total data for testing model ::  Loss_Amount    84850
dtype: int64

In [17]:
df_withzero = test.query('Loss_Amount == 0')
df_wozero = test.query('Loss_Amount != 0')
print('Record count for zero dataset :: ',df_withzero['Loss_Amount'].count())
print('Record count for non zero dataset :: ',df_wozero['Loss_Amount'].count())

Record count for zero dataset ::  81088
Record count for non zero dataset ::  3762

In [18]:
#df_corr.to_excel("Corr-matrix.xlsx","Corr")
#for col in train_udata.columns: 
#    print(col) 
#sns.set_style('whitegrid')
#sns.countplot(x='Vehicle_Usage',data=train_udata)

In [19]:
NUMBER_OF_SPLITS = 17
for i, new_df in enumerate(np.array_split(df_withzero,NUMBER_OF_SPLITS)):
    with open(f".\Trainportfolio\Test{i+1}.csv","w", newline="") as fo:
            fo.write(new_df.to_csv(index=False))

In [20]:
NUM_OF_SPLITS = 17
for j, ndf in enumerate(np.array_split(df_wozero,NUM_OF_SPLITS)):
    with open(f".\Trainportfolio\Test{j+1}.csv","a", newline="") as fo:
            ndf.to_csv(fo,index=False, mode='a', header=False)

In [21]:
NUMBER_OF_SPLITS = 425
for i, new_df in enumerate(np.array_split(zdata,NUMBER_OF_SPLITS)):
    with open(f".\PortfoliowisePredict\Test{i+1}.csv","w", newline="") as fo:
            fo.write(new_df.to_csv(index=False))

In [22]:
NUM_OF_SPLITS = 425
for j, ndf in enumerate(np.array_split(wzdata,NUM_OF_SPLITS)):
    with open(f".\PortfoliowisePredict\Test{j+1}.csv","a", newline="") as fo:
            ndf.to_csv(fo,index=False, mode='a', header=False)